# CLion y JetBrains
**/.idea/
*.iml

# CMake
**/cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/compile_commands.json
**/build/
**/out/

# NetBeans y archivos compilados
**/dist/
**/nbproject/private/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.d

# Archivos del sistema y temporales
.DS_Store
Thumbs.db
*.log
*.tmp

# Copias comprimidas
*.zip
*.rar